$color_accent: #2AC880;
$lightning_yellow: #FAB81B;
$color_сharade: #2A303A;
$color_darkgray: #323A46;
$color_mediumgray: #363F4C;
$color_brightgray: #3B4452;
$color_gray: #3A4452;
$color_trout: #4E5763;
$color_shuttlegray: #545C67;
$color_palesky: #6D7883;
$color_manatee: #989CA2;


$container_width: 1330px;

$base_font_family: Montserrat;
$user_font_family: Barlow;