@mixin font-face($font-name, $font-name-local, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: local(quote(#{$font-name-local})), url(#{$path}.woff) format("woff"),
    url(#{$path}.woff2) format("woff2"),
    url(#{$path}.ttf) format("ttf"),
    url(#{$path}.eot) format("eot");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face("Barlow", "Barlow-Regular", "../fonts/Barlow-Regular", 400);
@include font-face("Nunito", "Nunito-Regular", "../fonts/Nunito-Regular", 400);
@include font-face("Barlow", "Barlow-Bold", "../fonts/Barlow-Bold", 700);
@include font-face("Montserrat", "Montserrat-Regular", "../fonts/Montserrat-Regular", 400);
@include font-face("Montserrat", "Montserrat-Bold", "../fonts/Montserrat-Bold", 700);